[Unit]
Description=Steam Password Changer
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/workspace
ExecStart=/usr/bin/python3 main.py start
Restart=always
RestartSec=10
Environment=PYTHONPATH=/workspace

[Install]
WantedBy=multi-user.target
